.container {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .message {
    margin-bottom: 0.25rem;
    padding: 0.25rem;
    font-size: 0.85rem;
  }

  .messageBubble {
    padding: 0.45rem;
    border-radius: 10px;
    background-color: #c4c4c4;

    &.selfMessage {
      background-color: #6464df;
      color: white;
      align-self: flex-end;
    }
  }

  .alert {
    align-self: center;
    text-align: center;
    color: #666;

    &.alertError {
      color: red;
    }
  }
}
